body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;  
    align-items: center;    
}

.button {
    background-color: rgb(0, 0, 0, 0.6);
    margin-top: 25%;
    border-radius: 1pc;
    padding: 15px;
    border: white;
    color: white;
    outline: none;
    cursor: pointer;
}

.button:hover {
    font-size: larger;
    color: white;
    background-color: rgb(0, 0, 0);
} 